@page
@model SnackisApp.Pages.AdminRole.AdminRoleManagerModel
@{
    ViewData["Title"] = "Admin Role Management";
}

<head>
    <link rel="stylesheet" href="~/css/testadmin.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <main class="main">
        <aside class="aside">Current users of Mindful Movement
    
            <ul class="admin-list">
                @foreach (var user in Model.Users)
                {
                    <li class="admin-aside-content">
                        @user.UserName
                        <form method="get" style="display:inline;">
                            <input type="hidden" name="AddUserId" value="@user.Id" />
                            <input type="hidden" name="RoleName" value="Admin" />
                            <button type="submit" class="btn btn-success btn-sm"> Add </button>
                        </form>
                            <form method="get" style="display:inline;">
                                <input type="hidden" name="RemoveUserId" value="@user.Id" />
                                <input type="hidden" name="RoleName" value="Admin" />
                                <button type="submit" class="btn btn-danger btn-sm"> Remove </button>
                            </form>
                       
                    </li>
                }
            </ul>
            </aside>


        <div class="content">
                <h3>Admin Page</h3>
<ul class="admin-list">
	<li><a asp-page="./AdminCategoryManager">Manage Categories</a></li>
    	<li><a asp-page="./ViewReports">View Reports</a></li>
</ul>
        </div>


    </main>
</body>
