body {
    font-family: 'Open Sans', sans-serif; 
    background-color: rgba(183, 157, 204, 0.148);
    color: #7f6988; /* Consistent text color */
}

h3 {
    color: #7f6988; /* Consistent heading color */
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.admin-list {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.admin-list li {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.admin-list li:hover {
    transform: translateY(-5px);
    background-color: #f0e6f5; 
}

.admin-list li a {
    text-decoration: none; 
    color: #7f6988; 
    font-weight: bold;
}

.admin-list li a:hover {
    color: #6b577a; 
}


.table {
    width: 90%;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.table th {
    background-color: #f7f4f9;
    color: #7f6988;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.table tr:nth-child(even) {
    background-color: #f7f4f9;
}

.table tr:hover {
    background-color: #f0e6f5;
}

.btn {
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    margin-right: 5px;
    cursor: pointer;
}

.btn-success {
    background-color: #7f6988;
    color: #fff;
}

.btn-success:hover {
    background-color: #6b577a;
}

.btn-danger {
    background-color: #e74c3c;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c0392b;
}

.btn-warning {
    background-color: #f39c12;
    color: #fff;
}

.btn-warning:hover {
    background-color: #e67e22;
}