@model SnackisApp.Models.Comment
@using SnackisApp.Pages

<head>
    <link rel="stylesheet" href="~/css/post.css" asp-append-version="true" />
</head>

<li>
    <div class="comment-content">
        <p>@Model.Content</p>
        <button class="reply-button" data-comment-id="@Model.Id">Reply</button>
    </div>
    @if (Model.Replies != null && Model.Replies.Count > 0)
    {
        <ul class="replies-list">
            @foreach (var reply in Model.Replies)
            {
                @Html.Partial("_CommentPartial", reply)
            }
        </ul>
    }
</li>
